<h2>Enter a country:</h2>
<input 
    type="text" 
    #country 
    placeholder="Country" 
    class="form-control" 
    [formControl]="countryForm" 
    (click)="onInputSelect()">
<ng-container *ngIf="filteredCountries?.length > 0 && country.value !== filteredCountries[0]">
    <div class="country-container">
        <p 
            class="country"
            *ngFor="let option of filteredCountries; let i = index" 
            (click)="onCountrySelect(i)">
            <span [innerHTML]="option | boldLetters:country.value"></span>
        </p>
    </div>
</ng-container>